#gallery-1 {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;  
  user-select: none;
}
#gallery-2 {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;  
  user-select: none;
}
.royalSlider{
	height:500px !important;
}
@media (max-width:767px) {
	.royalSlider{
		height:250px !important;
	}
}
.rsDefault, .rsDefault .rsOverflow, .rsDefault .rsSlide, .rsDefault .rsVideoFrameHolder, .rsDefault .rsThumbs {
  background: #fff;
}
.rsDefault .rsFullscreenIcn, .rsDefault .rsArrowIcn, .rsDefault .rsThumbsArrow {
  background-color: rgba(0,0,0,0.3);
}
.rsDefault .rsFullscreenIcn:hover, .rsDefault .rsArrowIcn:hover, .rsDefault .rsThumbsArrow:hover {
  background-color: rgba(0,0,0,1);
}
.rsDefault .rsThumb img {
	opacity:0.3;
}
.rsDefault .rsThumb.rsNavSelected img {
  background-color: none;
  opacity:1;
}