#formulaire form{
    margin-top: 1%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 25%;
    margin-right: 25%;
}
#formulaire{
    
    margin-top: 5%;
    margin-bottom: 2%;
}
#formulaire input{
    margin-right: 60%;
    border-radius: 5px;
    background-color: rgb(242, 242, 242) ;
    border: none;
}
#formulaire select{
    margin-right: 75%;
    border-radius: 5px;
    border: 1px solid rgba(105, 40, 56, 0.973);
}
#formulaire form textarea{
    border : 1px solid;
}
#formulaire h1 {
    text-align: center;
    color: white;
    border-bottom: 2px solid white;
    margin-left: 40%;
    margin-right:40%;
    font-weight: bold;
}
#formulaire #bande{
    padding: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#formulaire #submit_but{
    border: 2px solid rgba(105, 40, 56, 0.973);
    border-radius: 15px;
    margin-right: 40%;
    margin-left: 40%;
    padding: 5px;
    font-weight: bold;
    color: rgba(105, 40, 56, 0.973);
}