body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #f6fafe;
}

.bodyContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 5% 10%;
}

.containerMembersCard {
  position: static;
  display: grid;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
  margin-bottom: 50px !important;
  background-color: white;
}

.bodyCard {
  padding-left: 20px;
  padding-right: 20px;
}

.containtRepresentPhoto {
  position: static;
  display: flex;
  justify-content: center;
  margin-top: -20%;
}
.representPhoto {
  width: 50%;
  border-radius: 50%;
  border: 5px solid white;
  min-height: 160px;
  max-height: 160px;
}

.textDescription {
  max-width: 100%;
  height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.compagnyName {
  color: #f7316b;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.textDescription,
.textAreaActivity {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(184, 184, 184);
  margin-top: 3px;
}

.textActivity,
.textManager {
  color: #1da1f2;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
}

.textAreaActivity,
.textRepresent {
  margin-top: 0;
  font-weight: 600;
  font-size: 16px;
}

.containtMemberBouton {
  display: grid;
}

.containtMemberBouton:hover {
  text-decoration: none;
}

.memberBouton {
  width: auto;
  cursor: pointer;
  margin: 0px 20px 20px 20px;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  color: #f7316b;
  background-color: #fff;
  border: 2px solid #f7316b;
}

.memberBouton:hover {
  color: #fff;
  background-color: #f7316b;
  border-color: #f7316b;
}

.containtCoverPhoto {
  position: static;
  padding-left: 0;
  padding-right: 0;
}
.coverPhoto {
  box-sizing: content-box;
  width: 100%;
  height: 125px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.containtLogoMembersCard {
  max-width: 100%;
  position: static;
  display: grid;
  justify-content: center;
  margin-bottom: 15px;
}
.logoMembersCard {
  height: 75px;
}

.listGroupItem {
  position: static;
  border: none;
  padding: 0;
  margin-bottom: 15px;
}
