/* Général */
body {
  background-color: #f6fafe;
}
.dashBoardMargin {
  margin-top: 85px;
  position: relative;
  z-index: 0;
  padding-top: 10px;
}
.dashboardGlobalSize {
  max-width: 95%;
}
.dashboardTableMargin {
  margin-bottom: 0px !important;
}
.dashBoardTableHeight {
}
/*Tableau lignes */
.dashboardTableRowText {
  font-size: small;
  color: #156ec6;
  text-align: center;
  width: fit-content;
  padding: 0rem !important;
  vertical-align: middle !important;
  line-height: 100% !important;
}
/*Boutons de ligne*/
.dashboardAlignButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboardTableButton {
  width: 62px;
  padding: 0.1rem 0.1rem !important;
  margin-left: 0.2rem;
  font-size: 0.65rem;
}
/*Tableau header */
.dashboardTableHeaderText {
  border: none;
  font-size: 0.85rem;
  font-weight: bold;
  color: #156ec6;
  text-align: center;
  background-color: white;
  vertical-align: middle !important;
  line-height: 100% !important;
  padding: 3px !important;
  width: 150px;
}
.dashboardTableHeaderCol1 {
  min-width: 202px;
}
.dashboardTableSticky {
  position: fixed;
}
.dashboardScrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
}
.dashboardScroll-y {
  display: block;
}
.dashBoardTablePadding {
  padding: 2px !important;
}
/* filtre */
.dashboardFilterSize {
  width: 200px;
}
.dashboardFilterButtonText {
  font-size: small;
  text-align: center;
  width: 40px;
}
.dashboardFilterText {
  font-size: small;
  text-align: left;
}
.dashboardFilter {
  margin-bottom: 5px;
  margin-right: 4px;
}
/* Pagination */
.dashboardPaginationStyle {
  margin-bottom: 0px;
  font-size: 0.85rem;
  color: #156ec6;
}
.dashboardPaginationRow {
  display: flex;
  flex-direction: row;
}
.dashboardPaginationSize {
  width: 190px;
}
.dashboardPaginationDivSize {
  width: 100px;
}
/* Graphe */
.dashboardGraphDim {
  width: auto;
  height: 25vh;
  margin: 2vh;
  display: block;
}
.dashboardGrapheAlign {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/*Texte de comptage des champs affichés*/
.dashboardCounterText {
  margin: 0;
  font-size: small;
  color: #156ec6;
  font-weight: bold;
}
/*Modal des champs */
.dashboardModalListWidth {
  width: auto;
  margin: 10px;
}
.dashboardModalListHeight {
  height: 150px !important;
}
.dashboardModalText {
  color: #f7316b;
  margin-bottom: 0px !important;
}

.dashboardModalList {
  padding: 0px !important;
  display: flex;
}
.dashboardModalListMargin {
  margin: 1px;
}
.dashboardModalButtonSize {
  width: 150px !important;
  cursor: pointer;
  margin: 5px 0px 5px 5px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #f7316b;
  background-color: #fff;
  border: 2px solid #f7316b;
}
.dashboardModalButtonSize:hover {
  color: #fff;
  background-color: #f7316b;
  border-color: #f7316b;
}
.dashboardModalLogo {
  width: 28px;
  height: auto;
}
.dashBoardModalButton {
  width: 130px;
  cursor: pointer;
  margin: 5px 0px 5px 5px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #f7316b;
  background-color: #fff;
  border: 2px solid #f7316b;
}
.dashBoardModalButton:hover {
  color: #fff;
  background-color: #f7316b;
  border-color: #f7316b;
}
/*Modal alerte */
.dashBoardAlertButton {
  width: 85px;
  cursor: pointer;
  margin: 5px 0px 5px 5px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #f7316b;
  background-color: #fff;
  border: 2px solid #f7316b;
}
.dashBoardAlertButton:hover {
  color: #fff;
  background-color: #f7316b;
  border-color: #f7316b;
}
.dashBoardAlertName {
  font-weight: bold;
  text-align: center;
}
.dashBoardAlertStyle {
  color: #f7316b;
}
/*Déconnexion*/
.dashboardDeconnexionButton {
  text-align: right;
  margin-bottom: 5px;
}
.dashboardDeconnexionIcon {
  color: #f7316b;
}
.dashboardDeconnexionSize {
  width: 150px !important;
  cursor: pointer;
  margin: 5px 0px 5px 5px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background-color: #fff;
  border: 2px solid #f7316b;
}
.dashboardDeconnexionSize:hover {
  color: #fff;
  background-color: #f7316b;
  border-color: #f7316b;
}
